:root {
    --color-lin: #337ab7;
}

:root.darkmode {
    --color-lin: #b88533;
}

:root {
    --color-sigr: #684545;
    --color-sigy: #b59653;
    --color-sigk: #1c1e21;
    --color-ntb: #e7524c;
    --color-eda: #1e88e5;
    --font-pro: Fontawesome, "Pretendard Variable";
}

:focus:not(:focus-visible) {
    outline: 0 !important;
}

input:focus {
    outline: none !important;
}

* {
    font-family: "Pretendard Variable", sans-serif;
}

html,
html.darkmode {
    background: var(--color-bc);
    height: auto;
}

body,
html.darkmode body {
    background: transparent;
}

html.darkmode body {
    color: #dfdfdf;
}

#lastc,
#board-home-link-btn,
.reply > a {
    color: var(--color-sig) !important;
}

:root {
    scroll-behavior: smooth;
}

/* 버튼 */
.btn {
    color: #fff !important;
    background-color: var(--color-sig) !important;
    border: 1px solid var(--color-sig) !important;
    border-radius: 0;
    display: inline-flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    line-height: initial;
    padding: 5px 10px;
    gap: 3px;

    &:hover,
    &:focus {
        color: var(--color-sig) !important;
        background-color: var(--color-fr) !important;
    }
}

/* 하이퍼링크 */
p a[href] {
    color: var(--color-lin) !important;
}

.fr-sticky-off,
.fr-sticky-on {
    z-index: 2 !important;
    position: relative;
}

.fr-sticky-on + .fr-sticky-dummy,
.fr-sticky-box > .fr-sticky-dummy {
    display: none !important;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

/* 헤더 배너 */
header {
    padding: 0;
    height: 290px;
    min-width: 1100px;
    z-index: 103;
    margin-bottom: 15px;
    background-color: #1e2433;
    background: linear-gradient(-45deg, #33cb86, #13c8d1, #148acf, #3c68b4, #5a55ae, #7b5fac, #8f6aae, #a86aa4, #cc6b8e, #f18271, #f3a469, #f7c978);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite alternate;
    position: sticky;
    top: calc(-290px + 50px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 1100px;
        height: 50px;
        background-color: var(--color-sigk);
    }

    &::after {
        content: "";
        background: var(--url-logo) no-repeat;
        background-size: auto 80px;
        background-position: center center;
        width: 100%;
        height: calc(290px - 50px - 30px);
        display: block;
        filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 50%));
    }

    > div.container:nth-child(1) {
        position: sticky;
        top: 0;
        z-index: 998;
    }
}

/* 로고 */
header .row {
    > div:nth-child(1) {
        > a {
            --logo-pdw: 12px;
            --logo-pdh: calc(120px - calc(50px - var(--logo-pdw) * 2));
            --logo-pd: var(--logo-pdw) var(--logo-pdh) var(--logo-pdw) 0;

            & img {
                content: url(https://cdn.discordapp.com/attachments/901132800793649233/936304107487129610/tgd_ico.png);
                width: 120px;
                height: 50px;
                padding: var(--logo-pd);
            }

            &::after {
                content: "트게더";
                position: absolute;
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                line-height: 50px;
                left: calc(15px + calc(50px - var(--logo-pdw) * 2) + 5px);
            }

            &:hover,
            &:focus {
                &::after {
                    content: "메인으로";
                }
            }
        }
    }
}

/* 전광판 */
header #header-bar {
    margin: 0 auto;
    background: var(--color-sig);
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: "전광판에서 여러분의 광고를 여기에 올릴 수 있어요";
        position: absolute;
        color: rgb(255 255 255 / 65%) !important;
        font-size: 13px;
        font-weight: 500;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    & #header-top-notice {
        position: absolute;
        height: 30px;
        line-height: 30px;
        padding: 0;
        top: 50px;

        color: rgb(255 255 255 / 60%);
        font-size: 13px;
        font-weight: 500;
        background: var(--color-sig);

        & a {
            color: rgb(255 255 255 / 60%);
            font-size: 13px;
            font-weight: 500;
        }

        & strong.notice-badge {
            font-size: 0;
            padding: 0;
        }
    }
}

/* 상단 검색바 */
header #right-search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(150px + 5px + 20px);
    height: 50px;
    padding: 0 !important;

    & #right-search-input {
        width: 0;
        height: 30px;
        padding: 0;
        margin-right: 5px;
        background: none;
        border: none;
        color: #fff;
        opacity: 0;
        font-weight: 600;
        letter-spacing: -0.02em;
        text-align: right;
        line-height: initial;
        transition: width 0.3s 0.05s ease-out, opacity 0.4s ease-in-out;

        &::placeholder {
            color: rgba(255, 255, 255, 60%) !important;
        }
    }

    & #right-search-btn {
        width: 20px;
        height: 20px;
        padding: 0;

        > i {
            display: block;
            font-size: 20px !important;
            color: #fff;
        }
    }

    &:hover > #right-search-input,
    & > #right-search-input:focus {
        width: 150px;
        opacity: 1;
    }
}

:root {
    --btnwidth: calc(calc(700px - calc(100px * 5)) / 4);
}

header #header-bar > .row {
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 0;
    padding: 0;
    background: transparent !important;
    border: none !important;
    gap: var(--btnwidth);
    position: absolute;
    top: 0;
    z-index: 999;

    & #header-menu-left,
    & #header-menu-right {
        display: inline-flex;
        float: none;
        border: none !important;
        width: auto;
        height: 50px;
        line-height: 50px;
        padding: 0 !important;
        gap: var(--btnwidth);
    }
}

#latestDropdown,
#favoriteDropdown,
#playgroundDropdown,
#header-menu-right .dropdown-toggle[href="/note/lists"],
#userDropdown {
    height: 50px;
    width: 100px;
    display: inline-flex !important;
    justify-content: center;
    padding: 0 !important;
    font-size: 0;
}

#latestDropdown > i,
#favoriteDropdown > i,
#playgroundDropdown > i,
.fa-envelope-o,
#userDropdown > img,
#latestDropdown > span,
#favoriteDropdown > span,
#playgroundDropdown > span,
#userDropdown > span.caret,
#header-menu-right > div:nth-child(1) > a > span.caret {
    display: none;
}

#latestDropdown:before,
#favoriteDropdown:before,
#playgroundDropdown:before,
#header-menu-right .dropdown-toggle[href="/note/lists"]:before,
#userDropdown:before {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    font-size: 14px;
}

#latestDropdown:before {
    content: "최근 방문" !important;
}

#favoriteDropdown:before {
    content: "즐겨찾기" !important;
}

#playgroundDropdown:before {
    content: "놀이터" !important;
}

#header-menu-right .dropdown-toggle[href="/note/lists"]:before {
    content: "내 쪽지함 " !important;
}

#userDropdown:before {
    content: "내 정보" !important;
}

#userDropdown > i:after {
    content: " \f235";
    font-size: 14px;
    font-family: "fontawesome";
    color: var(--color-ntb);
    height: 50px;
    line-height: 50px;
}

/* 알림 배지 */
#note-notification-badge,
#notification-badge {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 800;
    font-family: "Pretendard Variable";
    overflow: hidden;
    text-overflow: ellipsis;
    background: none !important;
    color: var(--color-ntb);
    padding: 0 !important;
    margin-left: 5px;
    border-radius: 0 !important;

    &::before {
        content: "\f0f3";
        font-size: 12px;
        font-family: "fontawesome";
        color: var(--color-ntb);
        position: relative;
        top: -1px;
    }
}

/* 트게더 전체 메뉴 */
#main .menu-wrapper {
    background: var(--color-fr) !important;
    border: 1px solid var(--color-sig) !important;

    .header,
    .darkmode & div.header {
        background: var(--color-sig);
    }

    > a,
    .darkmode & > a,
    #fav-shortcut-area > a,
    .darkmode & #fav-shortcut-area > a {
        background: transparent !important;
        border-bottom: none !important;
        padding: 0.35em 0.5em;
        letter-spacing: -0.04em;
    }

    > a {
        &:hover,
        &:focus {
            background-color: var(--color-hov) !important;
        }
    }

    .spacer,
    .darkmode & div.spacer {
        background: var(--color-sig);
        height: 1px;
    }

    > a,
    .darkmode & > a,
    #fav-shortcut-area > a .darkmode & #fav-shortcut-area > a {
        > em {
            color: var(--color-sig);
        }
    }

    /* 즐겨찾기 목록 */
    #fav-shortcut-area,
    .darkmode #fav-shortcut-area {
        background: var(--color-pla);

        & a {
            color: #fff;
            border: 0;

            & em > i {
                width: 20px;
                color: #fff !important;
            }

            &:hover,
            &:focus,
            .darkmode &:hover,
            .darkmode &:focus {
                background: var(--color-sig) !important;
            }
        }
    }
}

#article-list > div:nth-child(3):not(#article-list > .article-list-row, #article-list-menu),
html.darkmode #article-list > div:nth-child(3):not(#article-list > .article-list-row, #article-list-menu) {
    width: 844px;
    background: var(--color-noti) !important;
    width: 100%;
    border: none;
}

#main-content > div > div:nth-child(2):not(#article-list) {
    background: var(--color-noti) !important;
    padding: 10px 8px !important;
}

#main-content > div > div:nth-child(2) > div:not(#article-list-category, .article-list-table-gallery, #article-list-menu) {
    background: var(--color-noti) !important;
}

#main-menu div[align="center"][style="background:#fff;padding:10px 0;"] {
    background: var(--color-noti) !important;
}

#content-area > .container:not(#main) {
    position: fixed;
    z-index: 3;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
}

.alert {
    border-radius: 0 0 20px 20px;
}

#main-content > div.frame {
    border: 1px solid var(--color-sig) !important;
    background: var(--color-fr) !important;
}

/* 게시글 목록 */
#article-list {
    margin: 0;
    padding: 15px;

    /* 게시글 */
    .article-list-row,
    .darkmode && .article-list-row {
        border: none !important;
        transition: 0.2s;

        &:hover,
        &:focus {
            background-color: var(--color-hov) !important;
            transition: 0.2s;
        }

        &.active,
        .darkmode &.active {
            background-color: var(--color-hot);
        }

        &.notice,
        &.hot {
            .item {
                .list-header {
                    & strong,
                    & b {
                        font-size: 0;
                    }
                }
            }
        }

        /* 공통 */
        .item {
            .list-checkbox,
            .list-header,
            .list-category,
            .list-title,
            .list-title > .list-category,
            .list-title > .list-writer,
            .list-blocked,
            .list-time {
                border-color: var(--color-hot) !important;
            }

            .list-header {
                border-left: none !important;

                & span,
                .darkmode & span {
                    color: var(--color-sig);
                    background: transparent !important;
                    font-size: 14px;
                }

                &.v0 {
                    & span {
                        visibility: hidden;
                    }
                }
            }

            .list-title {
                & a:visited {
                    color: #acacac !important;
                }

                & small.comment-count,
                .darkmode & small.comment-count {
                    color: var(--color-sig);
                }

                .list-writer {
                    padding: 0 16px;
                    border-left: none !important;

                    & span {
                        width: fit-content !important;
                        height: 18px;
                    }

                    &.logged span,
                    .darkmode &.logged span {
                        color: var(--color-sig);
                    }
                }
            }
        }

        /* 공지 */
        &.notice,
        .darkmode &&.notice {
            background-color: var(--color-noti);

            .item {
                .list-checkbox,
                .list-header,
                .list-category,
                .list-title,
                .list-blocked,
                .list-time {
                    border-bottom: none !important;
                }

                .list-header {
                    & strong,
                    & b {
                        &::after {
                            font-family: "fontawesome";
                            font-size: 14px;
                            color: var(--color-sig);
                            content: "\f08d";
                        }
                    }
                }

                .list-title {
                    padding: 5px 0;

                    .a-badge,
                    .comment-count,
                    .list-writer {
                        display: none;
                    }
                }

                .list-time {
                    font-family: "Pretendard Variable";
                    font-size: 12px;
                    line-height: 19px;
                    float: right;
                    right: 5px;
                    width: 60px;
                    height: 19px;
                    margin: 5px 0;
                    background: var(--color-pla);
                    border: 1px solid var(--color-pla) !important;
                    color: #fff;

                    &::after {
                        content: "\f017";
                        font-family: "fontawesome";
                    }
                }
            }
        }

        /* 인기 */
        &.hot,
        .darkmode &&.hot {
            background-color: var(--color-hot);

            .item .list-header {
                & strong,
                & b {
                    &::after {
                        font-family: "fontawesome";
                        font-size: 13px;
                        color: #efc839;
                        content: "\f005";
                    }
                }
            }
        }
    }
}

/* 공지글 표시 버튼 */
#article-list #article-option-area {
    z-index: 1;

    #article-option-area-toggle-btn {
        width: 25px;
        height: 25px;
        margin: 5px 5px 0 0;
        line-height: initial;
        background: var(--color-hov);
        color: var(--color-sig);
        border: 1px solid;

        .fa-eye:before {
            content: "\f205";
        }

        .fa-eye-slash:before {
            content: "\f204";
        }
    }
}

#board-home-link-btn {
    height: 34px;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover,
#article-list #article-list-category > a:focus {
    background: var(--color-sig) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
}

#article-list #article-list-category,
html.darkmode #article-list #article-list-category {
    border: 0;
    background: var(--color-fr) !important;
    border-bottom: 2px solid var(--color-sig);
    height: fit-content;
}

#article-list #article-list-category > a,
html.darkmode #article-list #article-list-category > a {
    background: var(--color-fr);
    border: none !important;
}

html.darkmode #article-list #article-list-category #board-home-link-btn {
    background: var(--color-fr);
}

@media (min-width: 1400px) {
    #article-list #article-list-category.can-float,
    html.darkmode #article-list #article-list-category.can-float {
        position: absolute;
        z-index: 1;
        width: 100px;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        top: 15px;
        left: initial;
        right: -100px;
        transform: translate(0);
        background: transparent !important;
        max-height: 370px;
        overflow-y: auto;
    }

    #article-list #article-list-category.can-float > a,
    html.darkmode #article-list #article-list-category.can-float > a {
        width: 85%;
        padding: 10px;
        border: 0;
        border-radius: 0;
        display: flex;
        justify-content: end;
        transition: all 0.2s ease-in-out;
        background: var(--color-fr);
        border-right: 4px solid !important;
    }

    #article-list #article-list-category.can-float > a:first-child {
        border-top: 1px solid var(--color-sig) !important;
    }

    #article-list #article-list-category.can-float > a:last-child {
        border-bottom: 1px solid var(--color-sig) !important;
    }

    #article-list #article-list-category.can-float > a[id="board-home-link-btn"],
    html.darkmode #article-list #article-list-category.can-float > a[id="board-home-link-btn"] {
        background: var(--color-sig) !important;
        color: #fff !important;
        border-right: 4px solid var(--color-sig) !important;
        width: 100%;
    }

    #article-list #article-list-category.can-float > a.active,
    #article-list #article-list-category.can-float > a.active[id="board-home-link-btn"],
    #article-list #article-list-category.can-float > a:hover,
    #article-list #article-list-category.can-float > a:focus,
    html.darkmode #article-list #article-list-category.can-float > a.active,
    html.darkmode #article-list #article-list-category.can-float > a.active[id="board-home-link-btn"],
    html.darkmode #article-list #article-list-category.can-float > a:hover,
    html.darkmode #article-list #article-list-category.can-float > a:focus {
        background: var(--color-sig) !important;
        width: 100%;
        color: #fff !important;
        border-right: 4px solid var(--color-sig) !important;
    }
}

/* 페이지네이션 컨트롤 */
.pagination {
    height: 30px;
    border-radius: 0;

    & li,
    .darkmode && li {
        & a,
        & span {
            border: 0 !important;
            border-top: 1px solid var(--color-sig) !important;
            border-bottom: 1px solid var(--color-sig) !important;
            background: var(--color-sig);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            min-width: 30px;
            height: 100%;
            font-weight: 600 !important;
            line-height: 15px !important;

            &:first-child {
                border-left: 1px solid var(--color-sig) !important;
                border-radius: 0;
            }

            &:last-child {
                border-right: 1px solid var(--color-sig) !important;
                border-radius: 0;
            }

            &:hover,
            &:focus {
                color: var(--color-sig);
                background: var(--color-fr);
            }
        }

        /* 활성화 페이지 버튼 */
        &.active {
            & a,
            & span {
                &,
                &:hover,
                &:focus {
                    color: var(--color-sig);
                    background: var(--color-fr);
                }
            }
        }
    }
}

#article-list #boardSearchForm .form-control,
html.darkmode #article-list #boardSearchForm .form-control {
    height: 30px !important;
    background: var(--color-fr) !important;
    color: var(--color-sig);
    box-shadow: none;
    border: none;
    border-top: 1px solid var(--color-sig);
    border-bottom: 1px solid var(--color-sig);
}

#article-list #boardSearchForm .form-control::placeholder,
html.darkmode #article-list #boardSearchForm .form-control::placeholder {
    color: var(--color-pla) !important;
}

#article-list #boardSearchForm .form-control:focus {
    z-index: 2;
}

html.darkmode .input-group-btn i.fa-search {
    color: #fff;
}

#article-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 2em 2em 0;
    border-top: 1px solid var(--color-sig);
}

#article-content-wrapper #article-content,
html.darkmode #article-content-wrapper #article-content {
    margin: 1em;
    border: none;
}

#article-info > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    letter-spacing: -0.04em;
    font-weight: 800;
    width: 100%;
    height: auto;
    margin: 0 !important;
}

#article-info > h2 > span {
    width: fit-content;
    border: none !important;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 3px;
}

#article-info #article-info-writer {
    display: flex;
    height: 35px;
    font-size: 15px;
    letter-spacing: -0.04em;
    line-height: 20px;
    color: var(--color-sig);
    margin-left: calc(35px + 5px);
    margin-bottom: 10px;
    padding: 7.5px 0;
}

#article-info-writer > strong {
    margin-right: 1px;
}

#article-info-writer > img {
    margin-left: 3px;
    width: 20px;
    order: 1;
}

#article-info .article-profile-img {
    width: 35px;
    height: 35px;
    border: 2px solid var(--color-sig);
    border-radius: 100px;
    top: 2em;
    left: 2em;
}

#article-content-wrapper > .header,
html.darkmode #article-content-wrapper > .header {
    padding: 0.5em 0;
    margin: 0 2em 1em;
    border-top: 0 !important;
    border-bottom: 2px solid var(--color-sig);
    background: transparent;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

#article-content-wrapper > .header > span {
    padding: 0 7px !important;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    letter-spacing: -0.02em;
    background: var(--color-pla);
    color: #fff;
}

#article-content-wrapper > .header > #article-time {
    margin-right: auto;
}

#article-content-wrapper > .header > #article-comment a {
    color: #fff;
}

#article-content-wrapper {
    padding: 0;
    border: 0;
}

html.darkmode #article-content p,
html.darkmode #article-content span {
    background: transparent !important;
    color: #dfdfdf !important;
}

#article-content-wrapper > .vote-area,
html.darkmode #article-content-wrapper > .vote-area {
    padding: 1em 0.8em;
    border: 0;
}

#article-content-wrapper > div.vote-area > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
    width: 75px;
    height: 75px;
    border-radius: 200px;
    margin: 0 auto;
}

#article-content-wrapper > div.vote-area > button > i {
    font-size: 22px !important;
}

#up {
    font-size: 12px;
    font-weight: 600;
}

#up:before {
    content: "추천";
    font-weight: 400;
    letter-spacing: -0.04em;
    margin-right: 2px;
}

#article-content-wrapper > div.footer,
html.darkmode #article-content-wrapper > div.footer {
    padding: 0.75em 1.5em;
    background: var(--color-noti);
    border: solid var(--color-sig);
    border-width: 1px 0 1px 0;
}

#article-neighbor-list {
    padding: 0.5em 0;
    background: var(--color-noti);
    border: solid var(--color-sig);
    border-width: 1px 0 1px 0;
}

#article-neighbor-list > div:hover,
#article-neighbor-list > div:focus {
    background: var(--color-hov);
}

#article-neighbor-list > div > span.indicator,
#article-neighbor-list > div > span.author {
    color: var(--color-sig);
}

#article-neighbor-list > div > span.indicator {
    padding-left: 1em;
}

#article-neighbor-list > div > span.author {
    padding-right: 1em;
}

#article-reply-area {
    padding: 0;
    border: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    background: var(--color-fr);
}

#article-reply-area #reply-real-area,
#article-reply-area #reply-best-area {
    padding: 0 1.5em;
}

#article-reply-area > .header {
    padding: 0;
    padding: 0 1.5em;
    margin-bottom: 1em;
}

#article-reply-area > .header h5 {
    color: var(--color-sig) !important;
    display: flex;
    font-size: 0;
    gap: 1.5px;
    font-weight: 800;
}

#article-reply-area > .header h5 > .fa-commenting:before {
    content: "\f0e6";
    font-size: 20px;
}

#totalCommentCount {
    font-size: 20px;
    letter-spacing: -0.04em;
    overflow: hidden;
    white-space: nowrap;
}

#totalCommentCount:after {
    margin-left: calc(10px + 1.5px);
    content: "━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━";
    font-size: 20px;
    letter-spacing: -0.04em;
}

#lastc {
    font-size: 0;
    text-align: end;
    margin-left: auto;
    text-decoration: none;
}

#lastc:after {
    margin-left: 10px;
    content: "\f103";
    font-family: "fontawesome";
    font-size: 20px;
}

#article-reply-area #reply-real-area .reply,
#article-reply-area #reply-best-area .reply,
html.darkmode #article-reply-area #reply-real-area .reply,
html.darkmode #article-reply-area #reply-best-area .reply {
    border: 0;
}

#article-reply-area #reply-real-area .reply > .reply-header,
#article-reply-area #reply-best-area .reply > .reply-header,
html.darkmode #article-reply-area #reply-real-area .reply > .reply-header,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header {
    display: grid;
    grid-template-columns: 2.5em 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3px;
    justify-content: center;
    align-items: end;
    background: transparent;
    border: 0;
    padding: 0;
    padding-bottom: 0.3em;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer-image,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer-image {
    border: 2px solid var(--color-sig);
    width: 2.5em;
    height: 2.5em;
    grid-row: 1 / 3;
}

#article-reply-area #reply-real-area .reply > .reply-header > small.code,
#article-reply-area #reply-best-area .reply > .reply-header > small.code {
    font-size: 10px;
    padding: 0;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer {
    display: flex;
    flex-direction: row-reverse;
    vertical-align: bottom;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    padding: 0 !important;
    grid-row: 2 / 3;
    width: fit-content !important;
    color: var(--color-sig) !important;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged > img,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged > img {
    margin-left: 3px;
    width: 15px;
    height: 15px;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu {
    padding: 0;
    grid-row: 2 / 3;
    text-align: right;
}

#article-reply-area #reply-real-area .reply > .reply-content,
#article-reply-area #reply-best-area .reply > .reply-content {
    margin-left: 1.1em;
    border-left: 2px solid var(--color-sig);
    background: var(--color-hot);
}

#article-reply-area #reply-real-area .reply.active,
#article-reply-area #reply-best-area .reply.active,
html.darkmode #article-reply-area #reply-real-area .reply.active,
html.darkmode #article-reply-area #reply-best-area .reply.active {
    background-color: transparent !important;
}

#article-reply-area #reply-real-area .reply.active > .reply-content,
#article-reply-area #reply-best-area .reply.active > .reply-content,
html.darkmode #article-reply-area #reply-real-area .reply.active > .reply-content,
html.darkmode #article-reply-area #reply-best-area .reply.active > .reply-content {
    background: var(--color-pla);
}

html.darkmode #article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    color: var(--color-sig);
}

#board-info {
    height: 60px;
    padding: 15px;
    margin-bottom: 0;
    background: var(--color-sig);
    border: 0;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

#board-info h1,
html.darkmode #board-info h1 {
    padding: 0;
    border: 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

#board-info h1 > a {
    font-weight: 700;
    width: fit-content;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: initial;
    padding-right: 5px;
}

#board-info #viewers-area #viewers:before {
    content: "";
}

#board-info #viewers-area #viewers:after {
    content: "명이 노는 중";
}

#board-info #viewers-area,
#board-info #score-area {
    width: fit-content;
    padding: 0 0.5em;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    background: var(--color-noti);
    color: var(--color-sig);
    opacity: 0.9;
    border-radius: 10px;
}

#board-info > img#board-info-profile-img {
    display: none;
}

#board-info-bottom {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    align-content: space-evenly;
    padding: 0 !important;
    margin: 0 !important;
}

#board-info #board-info-bottom a,
html.darkmode #board-info #board-info-bottom a {
    color: #fff;
    font-size: 0;
    height: fit-content;
}

#board-info > #board-info-bottom > a:hover {
    transform: scale(1.15);
}

#board-info-bottom > a:nth-child(n) {
    text-align: center;
    border: none !important;
    padding: 0 !important;
}

#board-info-bottom > a:nth-child(n) > i {
    text-align: center;
    font-size: 18px;
}

#board-info-bottom > a:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.fr-popup,
.fr-toolbar.fr-top,
html.darkmode .fr-popup,
html.darkmode .fr-toolbar.fr-top {
    border: 0 !important;
    border-top: 4px solid var(--color-sig) !important;
    border-radius: 0;
    padding-top: 2px;
    box-shadow: none;
    background: var(--color-noti) !important;
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
    color: var(--color-sig);
}

html.darkmode .fr-toolbar .fr-command.fr-btn,
html.darkmode .fr-popup .fr-command.fr-btn {
    color: var(--color-sig);
}

.fr-desktop .fr-command:hover,
.fr-desktop .fr-command:focus,
.fr-desktop .fr-command.fr-btn-hover,
.fr-desktop .fr-command.fr-expanded {
    background: transparent;
    color: var(--color-eda);
}

html.darkmode .fr-desktop .fr-command:hover,
html.darkmode .fr-desktop .fr-command:focus,
html.darkmode .fr-desktop .fr-command.fr-btn-hover,
html.darkmode .fr-desktop .fr-command.fr-expanded {
    background: transparent;
    color: var(--color-eda) !important;
}

.fr-desktop .fr-command.fr-active:hover,
.fr-desktop .fr-command.fr-active:focus,
.fr-desktop .fr-command.fr-active.fr-btn-hover,
.fr-desktop .fr-command.fr-active.fr-expanded {
    background: transparent;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
    border-top-color: var(--color-sig) !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown:hover,
.fr-popup .fr-command.fr-btn.fr-dropdown:hover,
.fr-toolbar .fr-command.fr-btn.fr-dropdown:focus,
.fr-popup .fr-command.fr-btn.fr-dropdown:focus {
    color: var(--color-eda) !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown:hover::after,
.fr-popup .fr-command.fr-btn.fr-dropdown:hover::after,
.fr-toolbar .fr-command.fr-btn.fr-dropdown:focus::after,
.fr-popup .fr-command.fr-btn.fr-dropdown:focus::after {
    border-top-color: var(--color-eda) !important;
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown:hover,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown:hover,
html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown:focus,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown:focus {
    color: var(--color-eda) !important;
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown:hover::after,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown:hover::after,
html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown:focus::after,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown:focus::after {
    border-top-color: var(--color-eda) !important;
}

.fr-command.fr-btn.fr-options.fr-btn-hover,
.fr-command.fr-btn.fr-options:hover,
.fr-command.fr-btn.fr-options:focus {
    border-left: none;
}

.fr-command.fr-btn.fr-options.fr-btn-hover::after,
.fr-command.fr-btn.fr-options:hover::after,
.fr-command.fr-btn.fr-options:focus::after {
    border-top-color: var(--color-eda) !important;
}

html.darkmode .fr-command.fr-btn.fr-options.fr-btn-hover,
html.darkmode .fr-command.fr-btn.fr-options:hover,
html.darkmode .fr-command.fr-btn.fr-options:focus {
    border-left: none;
}

html.darkmode .fr-command.fr-btn.fr-options.fr-btn-hover::after,
html.darkmode .fr-command.fr-btn.fr-options:hover::after,
html.darkmode .fr-command.fr-btn.fr-options:focus::after {
    border-top-color: var(--color-eda) !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
    color: var(--color-eda);
    background: transparent;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active::after,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active::after,
.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active::after,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active::after {
    border-top-color: var(--color-eda) !important;
}

.fr-toolbar .fr-command.fr-btn.fr-active,
.fr-popup .fr-command.fr-btn.fr-active {
    color: var(--color-eda);
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
    color: var(--color-eda);
    background: transparent;
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active::after,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active::after,
html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active::after,
html.darkmode .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active::after {
    border-top-color: var(--color-eda) !important;
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-active,
html.darkmode .fr-popup .fr-command.fr-btn.fr-active {
    color: var(--color-eda);
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
    color: var(--color-eda) !important;
    background: transparent !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus::after,
.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus::after {
    border-top-color: var(--color-eda) !important;
}

.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
    color: var(--color-eda);
    background: transparent;
}

.fr-separator,
html.darkmode .fr-separator {
    background: var(--color-sig);
}

.fr-popup .fr-buttons,
html.darkmode .fr-popup .fr-buttons {
    box-shadow: none;
    border-bottom: 1px solid var(--color-sig);
}

.fr-popup .fr-input-line input[type="text"],
.fr-popup .fr-input-line textarea,
html.darkmode .fr-popup .fr-input-line input[type="text"],
html.darkmode .fr-popup .fr-input-line textarea {
    border-color: var(--color-sig);
}

html.darkmode .fr-popup .fr-input-line input[type="text"]:focus,
html.darkmode .fr-popup .fr-input-line textarea:focus {
    border-color: var(--color-eda);
}

.fr-popup .fr-input-line input[type="text"]::placeholder,
.fr-popup .fr-input-line textarea::placeholder {
    color: var(--color-pla) !important;
}

.fr-popup .fr-action-buttons button.fr-command {
    background: transparent !important;
    color: var(--color-sig);
}

.fr-popup .fr-input-line input + label,
.fr-popup .fr-input-line textarea + label,
html.darkmode .fr-popup .fr-input-line input + label,
html.darkmode .fr-popup .fr-input-line textarea + label {
    background: transparent;
}

html.darkmode .fr-popup .fr-input-line input.fr-not-empty:focus + label,
html.darkmode .fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
    color: var(--color-eda);
}

html.darkmode .fr-popup .fr-input-line input.fr-not-empty + label,
html.darkmode .fr-popup .fr-input-line textarea.fr-not-empty + label {
    color: gray;
}

.fr-popup .fr-arrow,
html.darkmode .fr-popup .fr-arrow {
    border-bottom-color: var(--color-sig);
}

.fr-popup .fr-emoticon {
    width: fit-content;
    height: 20px;
    line-height: 0;
    padding: 3px;
}

.fr-popup .fr-emoticon:hover {
    background: var(--color-pla);
}

html.darkmode .fr-popup .fr-emoticon:hover {
    background: var(--color-pla);
}

.fr-popup .fr-colors-tabs {
    box-shadow: none;
}

html.darkmode .fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
    color: var(--color-eda);
}

.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command {
    color: var(--color-sig) !important;
}

.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command:hover,
.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command:focus {
    color: var(--color-eda) !important;
}

.fr-popup .fr-table-size .fr-select-table-size > span > span {
    border-color: var(--color-pla);
}

.fr-popup .fr-table-size .fr-select-table-size > span[data-col="10"] {
    padding-right: 0;
}

.fr-popup .fr-image-upload-layer {
    background: var(--color-hot);
}

.fr-popup .fr-image-upload-layer:hover {
    background: var(--color-hov);
}

.fr-box.fr-basic.fr-top .fr-wrapper,
#articleWriteForm div.fr-wrapper,
.fr-box.fr-code-view textarea.fr-code,
html.darkmode .fr-box.fr-basic.fr-top .fr-wrapper,
html.darkmode #articleWriteForm div.fr-wrapper,
html.darkmode .fr-box.fr-code-view textarea.fr-code {
    box-shadow: inset 0 0 0 2px var(--color-noti);
    border-radius: 0;
    border: 0;
}

.frame > h3 {
    height: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

.frame > h3:nth-child(1) {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    height: 100%;
    color: var(--color-sig);
}

.frame > h3:nth-child(1):before,
.frame > h3:nth-child(1):after {
    margin: 0 10px;
    content: "━━━━━━━━━━━━━━━━━━━━━━";
    font-size: 20px;
    letter-spacing: -0.04em;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus,
html.darkmode .form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--color-pla) !important;
}

#articleWriteForm div.row.mt-2 {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#articleWriteForm div.col-xs-2.left {
    padding: 0;
    padding-right: 0.25em;
}

#articleWriteForm select[name="category_id"] {
    background: var(--color-noti);
    border: 0;
    font-weight: 600;
    appearance: none;
    border-top: 2px solid var(--color-sig);
}

#articleWriteForm div.col-xs-10.right {
    padding: 0;
    padding-left: 0.25em;
}

#title {
    border-radius: 0;
    box-shadow: none;
    background: var(--color-noti);
    border: 0;
    border-top: 2px solid var(--color-sig);
}

#articleWriteForm div.mt-2 {
    background: var(--color-noti);
}

#articleWriteForm div.mt-2 > .opt:first-child {
    font-weight: 600;
    padding: 0 10px;
    background: var(--color-sig);
    color: #fff;
}

#articleWriteForm div.row.mt-2 {
    background: var(--color-fr);
}

#articleWriteForm > div.mt-2.action--btn {
    background: var(--color-fr);
    margin-top: 1.5em;
}

#articleWriteForm label.ml-2.mr-2.opt {
    width: 120px !important;
}

#title_color > input {
    text-align: center;
    border: 0;
    border-radius: 0;
    border: solid var(--color-sig);
    border-width: 4px 0 1px 1px;
}

#title_color > span {
    border: 0;
    border-radius: 0;
    border: 1px solid var(--color-sig);
    line-height: initial;
    padding: 5px 6px;
}

a.custom-badge-link {
    border: 2px solid transparent;
    padding: 0 4.3px 1px 4.5px;
    margin: 0 3px;
}

a.custom-badge-link.active {
    border-color: var(--color-sig);
    background: var(--color-sig);
}

a.custom-badge-link:hover {
    background: transparent;
    border: 2px solid var(--color-sig);
    transition: 0.4s;
}

#article-write-button {
    height: 34px;
}

#articleWriteForm > div.mt-2.action--btn > a {
    height: 34px;
    background-color: var(--color-sigr) !important;
    border-color: var(--color-sigr) !important;
}

#articleWriteForm > div.mt-2.action--btn > a:before {
    font-family: "FontAwesome";
    content: "\f1f8  ";
    font-size: 14px;
}

#articleWriteForm > div.mt-2.action--btn > a:hover,
#articleWriteForm > div.mt-2.action--btn > a:focus {
    background-color: var(--color-fr) !important;
    border-color: var(--color-sigr) !important;
    color: var(--color-sigr) !important;
}

#comment-write-button-area > label {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--color-sig);
    color: #fff;
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    margin: 0;
    margin-right: 3px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

#comment-write-button-area > label > input {
    margin: 0 0 0 4px;
    order: 1;
}

#comment-write-button-area > label > i {
    display: none;
}

footer {
    display: grid;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) 1fr;
    grid-template-columns: 1fr minmax(auto, auto) minmax(auto, auto) 1fr;
    column-gap: 10px;
    margin-top: 4em;
    padding: 30px 0;
    background: var(--color-sigk);

    & .container {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        width: 1070px;
        margin-top: 10px;
        padding: 10px 20px 0;
        border-top: 2px solid #fff;
        display: grid;
        grid-template-rows: minmax(auto, auto) minmax(auto, auto) [row-end];
        grid-template-columns: minmax(auto, auto) 1fr;
        column-gap: 8px;
        row-gap: 1px;

        &::before {
            content: "색상 모드 전환하기";
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            align-self: end;
            justify-self: start;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            letter-spacing: -0.05em;
            white-space: pre;
            color: #fff;
        }

        &::after {
            content: "달 버튼을 클릭해 모드를 넘나들 수 있어요";
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            align-self: start;
            justify-self: start;
            font-size: 12px;
            letter-spacing: -0.05em;
            white-space: pre;
            color: #b3b3b3;
        }
    }

    &::before {
        content: "CSS Template Designed by Naknoon";
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: end;
        justify-self: end;
        padding: 0 20px;
        font-weight: 600;
        letter-spacing: -0.04em;
        white-space: pre;
        color: #fff;
    }

    &::after {
        content: "https://naknoon.cc · naknoon.cc@gmail.com";
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: start;
        justify-self: end;
        padding: 0 20px;
        font-size: 12px;
        letter-spacing: -0.04em;
        white-space: pre;
        color: #b3b3b3;
    }
}

footer .container > span,
html.darkmode footer .container > span {
    grid-row: 1 / row-end;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: end;
    text-align: end;
    color: #b3b3b3;
}

footer .container > span > a[href] {
    font-weight: 600;
    color: #fff;
}

/* 모드 전환 버튼 */
#theme_btn_box {
    grid-row: 1 / row-end;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    padding: 0 !important;
    margin: 0;
    position: relative;
    display: flex;
    background: none !important;
    border: 0;
    width: 60px !important;
    height: 60px !important;
    align-items: center;
    justify-content: center;

    & .theme_btn {
        background: none;
        width: 50px !important;
        height: 50px !important;
        border: 0 !important;
        transition: all 0.5s ease-in-out !important;
        padding: 0;
        z-index: 5;
        box-shadow: inset 25px 0 0 0 var(--color-sigy);
    }

    &::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: transparent;
        border: 7px dotted transparent;
        border-radius: 100px;
        transition: width 0.5s, height 0.5s;
    }

    .darkmode & {
        & .theme_btn {
            background: none;
            box-shadow: inset -40px 0 0 0 var(--color-sigy);
            width: 30px !important;
            height: 30px !important;
        }

        &::before {
            width: 50px;
            height: 50px;
            transition: width 0.5s, height 0.5s;
            border: 7px dotted var(--color-sigy);
        }
    }
}

#switch-platform-link {
    font-size: 0;
    text-decoration-line: none !important;

    &::before {
        content: "\f2d2";
        font-family: "fontawesome";
        font-size: 14px;
        font-weight: 400;
        margin-right: 4px;
    }

    &::after {
        content: "모바일 뷰로 전환하기";
        font-size: 14px;
        font-weight: 600;
    }

    &:hover {
        &::after {
            text-decoration-line: underline;
        }
    }
}

#movetotop {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    margin: 2em;

    & img {
        content: url(https://cdn.discordapp.com/attachments/936953394415935568/1034081132767092759/up.svg);
        width: 60px;
        filter: brightness(100) drop-shadow(3px 3px 2px rgb(0 0 0 / 50%));
        float: right;
    }
}
